[submodule "ONDC-RET-Specifications"]
	path = ONDC-RET-Specifications
	url = https://github.com/nmonga26/ONDC-RET-Specifications
[submodule "ONDC-Protocol-Specs"]
	path = ONDC-Protocol-Specs
	url = https://github.com/nmonga26/ONDC-Protocol-Specs
[submodule "ONDC-LOG-Specifications"]
	path = ONDC-LOG-Specifications
	url = https://github.com/nmonga26/ONDC-LOG-Specifications
[submodule "ONDC-FIS-Specifications"]
	path = ONDC-FIS-Specifications
	url = https://github.com/nmonga26/ONDC-FIS-Specifications
