[submodule "ONDC-RET-Specifications"]
	path = ONDC-RET-Specifications
	url = https://github.com/nmonga26/ONDC-RET-Specifications
[submodule "ONDC-Protocol-Specs"]
	path = ONDC-Protocol-Specs
	url = https://github.com/nmonga26/ONDC-Protocol-Specs
[submodule "ONDC-LOG-Specifications"]
	path = ONDC-LOG-Specifications
	url = https://github.com/nmonga26/ONDC-LOG-Specifications
[submodule "ONDC-FIS-Specifications"]
	path = ONDC-FIS-Specifications
	url = https://github.com/nmonga26/ONDC-FIS-Specifications
[submodule "ONDC-NTS-Specifications"]
	path = ONDC-NTS-Specifications
	url = https://github.com/nmonga26/ONDC-NTS-Specifications
[submodule "Logistics-specifications"]
	path = Logistics-specifications
	url = https://github.com/nmonga26/Logistics-specifications
[submodule "ONDC-Registry-Specifications"]
	path = ONDC-Registry-Specifications
	url = https://github.com/nmonga26/ONDC-Registry-Specifications
[submodule "ONDC-ONEST-Specifications"]
	path = ONDC-ONEST-Specifications
	url = https://github.com/nmonga26/ONDC-ONEST-Specifications
[submodule "ONDC-AGR-Specifications"]
	path = ONDC-AGR-Specifications
	url = https://github.com/nmonga26/ONDC-AGR-Specifications
[submodule "ONDC-SRV-Specifications"]
	path = ONDC-SRV-Specifications
	url = https://github.com/nmonga26/ONDC-SRV-Specifications
[submodule "ONDC-MEC-Specifications"]
	path = ONDC-MEC-Specifications
	url = https://github.com/nmonga26/ONDC-MEC-Specifications
[submodule "mobility-specification"]
	path = mobility-specification
	url = https://github.com/nmonga26/mobility-specification
[submodule "ONDC-transaction-Specifications"]
	path = ONDC-transaction-Specifications
	url = https://github.com/nmonga26/ONDC-transaction-Specifications.git
